.login {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > input {
    border-radius: 5px;
    border: 1.5px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.login > .button {
    background: #3BC4D7;
    border: 1px solid #3BC4D7;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.login > div > Button {
    background: #3BC4D7;
    border: 1px solid #3BC4D7;
    color: #fff;
    font-size: 1rem;
    /* padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer; */
}